[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = spdk
[access "refs/*"]
	owner = group user/lavin1993-spec
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/lavin1993-spec
	label-Verified = -1..+1 group user/lavin1993-spec
	push = group user/lavin1993-spec
	read = group user/lavin1993-spec
	rebase = group user/lavin1993-spec
	removeReviewer = group user/lavin1993-spec
	submit = group user/lavin1993-spec
[access "refs/heads/*"]
	create = group user/lavin1993-spec
	push = +force group user/lavin1993-spec
	pushMerge = group user/lavin1993-spec
	read = group user/lavin1993-spec
[access "refs/tags/*"]
	push = group user/lavin1993-spec
	push = +force group user/lavin1993-spec
